#fcp-water-intake-form{	margin: 0px;padding: 0px;width: 100%;float: left;}
#fcp-water-intake-form h3{text-transform: uppercase;padding: 2%;color: #fff;font-weight: bolder;text-align: center;margin: 0px;}
#fcp-water-intake-form .fcp-radio-btn:hover{background-color: #C0C0C0;}
#fcp-water-intake-form .fcp-radio-btn:nth-child(2){	border-left: solid 1px #C0C0C0;}
#fcp-water-intake-form .fcp-btn
{
	background-color: #004d99;
	color: #fff;text-transform: uppercase;border-radius: 4px;border:solid 2px #004d99;padding: 1% 4% 1% 4%;
}
#fcp-water-intake-form .fcp-radio-btn
{
	float: left;text-align: center;width: 50%;padding: 0%;padding: 0%; min-height: 70px;border: solid 1px #ccc;
}
#fcp-water-intake-form .fcp-row{width: 100%;float: left;}
#fcp-water-intake-form .fcp-table{width: 100%;margin: 0px;}
#fcp-water-intake-form .fcp-table tr td{padding: 2%;border-bottom: solid 1px #fff;}
#fcp-water-intake-form .fcp-table tr{border:solid 1px #fff;}
#fcp-water-intake-form .fcp-table tr:hover{	background-color: #fff;}
#fcp-water-intake-form .fcp-table label{width: 100%;}
#fcp-water-intake-form .fcp-table .fcp-table-first-row{	width: 100%;text-align: center;}
#fcp-water-intake-form input[type="radio"]{box-shadow:none !important; height: 25px;}
#fcp-water-intake-form .fcp-table .fcp-table-first-row input[type="radio"] {
  margin-top: -5px;vertical-align: middle; box-shadow:none;}
#fcp-water-intake-form .fcp-table input,select{	width: 100%;border: solid 1px #ccc;
	padding: 2%;background-color: #fff;	border-radius: 4px;}
#fcp-water-intake-form .fcp-error{display: none;color: red;font-size: 12px;margin: 0px;padding: 0px;width: 100%;}
#fcp-water-intake-form #fcp-water-intake-height,#fcp-water-intake-weight{height: 41px;}
#fcp-water-intake-form .fcp-radio-btn label{
    float: left;width: 100%;height: 20px;padding: 1%;
}
#fcp-water-intake-form #fcp-protein-intake-height,#fcp-protein-intake-weight,#fcp-protein-intake-age
{
	height: 41px;
}
#fcp-water-intake-form .fcp-radio-btn label{float: left;width: 100%;height: 20px;padding: 1%;}


#fcp-protein-intake-form{	margin: 0px;padding: 0px;width: 100%;float: left;}
#fcp-protein-intake-form h3{text-transform: uppercase;padding: 2%;color: #fff;font-weight: bolder;text-align: center;margin: 0px;}
#fcp-protein-intake-form .fcp-radio-btn:hover{background-color: #C0C0C0;}
#fcp-protein-intake-form .fcp-radio-btn:nth-child(2){	border-left: solid 1px #C0C0C0;}
#fcp-protein-intake-form .fcp-btn
{
	background-color: #004d99;
	color: #fff;text-transform: uppercase;border-radius: 4px;border:solid 2px #004d99;padding: 1% 4% 1% 4%;
}
#fcp-protein-intake-form .fcp-radio-btn
{
	float: left;text-align: center;width: 50%;padding: 0%;padding: 0%; min-height: 70px;border: solid 1px #ccc;
}
#fcp-protein-intake-form .fcp-row{width: 100%;float: left;}
#fcp-protein-intake-form .fcp-table{width: 100%;margin: 0px;}
#fcp-protein-intake-form .fcp-table tr td{padding: 2%;border-bottom: solid 1px #fff;}
#fcp-protein-intake-form .fcp-table tr{border:solid 1px #fff;}
#fcp-protein-intake-form .fcp-table tr:hover{	background-color: #fff;}
#fcp-protein-intake-form .fcp-table label{width: 100%;}
#fcp-protein-intake-form .fcp-table .fcp-table-first-row{	width: 100%;text-align: center;}
#fcp-protein-intake-form input[type="radio"]{box-shadow:none !important; height: 25px;}
#fcp-protein-intake-form .fcp-table .fcp-table-first-row input[type="radio"] {
  margin-top: -5px;vertical-align: middle; box-shadow:none;}
#fcp-protein-intake-form .fcp-table input,select{	width: 100%;border: solid 1px #ccc;
	padding: 2%;background-color: #fff;	border-radius: 4px;}
#fcp-protein-intake-form .fcp-error{display: none;color: red;font-size: 12px;margin: 0px;padding: 0px;width: 100%;}
#fcp-protein-intake-form #fcp-water-intake-height,#fcp-water-intake-weight{height: 41px;}
#fcp-protein-intake-form .fcp-radio-btn label{
    float: left;width: 100%;height: 20px;padding: 1%;
}
#fcp-protein-intake-form #fcp-protein-intake-height,#fcp-protein-intake-weight,#fcp-protein-intake-age
{
	height: 41px;
}
#fcp-protein-intake-form .fcp-radio-btn label{float: left;width: 100%;height: 20px;padding: 1%;}



/* bmi*/
#fcp-bmi-intake-form{	margin: 0px;padding: 0px;width: 100%;float: left;}
#fcp-bmi-intake-form h3{text-transform: uppercase;padding: 2%;color: #fff;font-weight: bolder;text-align: center;margin: 0px;}
#fcp-bmi-intake-form .fcp-radio-btn:hover{background-color: #C0C0C0;}
#fcp-bmi-intake-form .fcp-radio-btn:nth-child(2){	border-left: solid 1px #C0C0C0;}
#fcp-bmi-intake-form .fcp-btn
{
	background-color: #004d99;
	color: #fff;text-transform: uppercase;border-radius: 4px;border:solid 2px #004d99;padding: 1% 4% 1% 4%;
}
#fcp-bmi-intake-form .fcp-radio-btn
{
	float: left;text-align: center;width: 50%;padding: 0%;padding: 0%; min-height: 70px;border: solid 1px #ccc;
}
#fcp-bmi-intake-form .fcp-row{width: 100%;float: left;}
#fcp-bmi-intake-form .fcp-table{width: 100%;margin: 0px;}
#fcp-bmi-intake-form .fcp-table tr td{padding: 2%;border-bottom: solid 1px #fff;}
#fcp-bmi-intake-form .fcp-table tr{border:solid 1px #fff;}
#fcp-bmi-intake-form .fcp-table tr:hover{	background-color: #fff;}
#fcp-bmi-intake-form .fcp-table label{width: 100%;}
#fcp-bmi-intake-form .fcp-table .fcp-table-first-row{	width: 100%;text-align: center;}
#fcp-bmi-intake-form input[type="radio"]{box-shadow:none !important; height: 25px;}
#fcp-bmi-intake-form .fcp-table .fcp-table-first-row input[type="radio"] {
  margin-top: -5px;vertical-align: middle; box-shadow:none;}
#fcp-bmi-intake-form .fcp-table input,select{	width: 100%;border: solid 1px #ccc;
	padding: 2%;background-color: #fff;	border-radius: 4px;}
#fcp-bmi-intake-form .fcp-error{display: none;color: red;font-size: 12px;margin: 0px;padding: 0px;width: 100%;}
#fcp-bmi-intake-form #fcp-water-intake-height,#fcp-water-intake-weight{height: 41px;}
#fcp-bmi-intake-form .fcp-radio-btn label{
    float: left;width: 100%;height: 20px;padding: 1%;
}
#fcp-bmi-intake-form #fcp-bmi-intake-height,#fcp-bmi-intake-weight,#fcp-bmi-intake-age
{
	height: 41px;
}
#fcp-bmi-intake-form .fcp-radio-btn label{float: left;width: 100%;height: 20px;padding: 1%;}

#bmiResultTable{margin: 1%;}.hide_result{ display: none;}


/* Body Fat calculator*/
#fcp-bfc-intake-form{	margin: 0px;padding: 0px;width: 100%;float: left;}
#fcp-bfc-intake-form h3{text-transform: uppercase;padding: 2%;color: #fff;font-weight: bolder;text-align: center;margin: 0px;}
#fcp-bfc-intake-form .fcp-radio-btn:hover{background-color: #C0C0C0;}
#fcp-bfc-intake-form .fcp-radio-btn:nth-child(2){	border-left: solid 1px #C0C0C0;}
#fcp-bfc-intake-form .fcp-btn
{
	background-color: #004d99;
	color: #fff;text-transform: uppercase;border-radius: 4px;border:solid 2px #004d99;padding: 1% 4% 1% 4%;
}
#fcp-bfc-intake-form .fcp-radio-btn
{
	float: left;text-align: center;width: 50%;padding: 0%;padding: 0%; min-height: 70px;border: solid 1px #ccc;
}
#fcp-bfc-intake-form .fcp-row{width: 100%;float: left;}
#fcp-bfc-intake-form .fcp-table{width: 100%;margin: 0px;}
#fcp-bfc-intake-form .fcp-table tr td{padding: 2%;border-bottom: solid 1px #fff;}
#fcp-bfc-intake-form .fcp-table tr{border:solid 1px #fff;}
#fcp-bfc-intake-form .fcp-table tr:hover{	background-color: #fff;}
#fcp-bfc-intake-form .fcp-table label{width: 100%;text-align: center;}
#fcp-bfc-intake-form .fcp-table .fcp-table-first-row{	width: 100%;text-align: center;}
#fcp-bfc-intake-form input[type="radio"]{box-shadow:none !important; height: 25px;}
#fcp-bfc-intake-form .fcp-table .fcp-table-first-row input[type="radio"] {
  margin-top: -5px;vertical-align: middle; box-shadow:none;}
#fcp-bfc-intake-form .fcp-table input,select{	width: 100%;border: solid 1px #ccc;
	padding: 2%;background-color: #fff;	border-radius: 4px;}
#fcp-bfc-intake-form .fcp-error-gender,.fcp-error-age,.fcp-error-height,.fcp-error-weight,.fcp-error,.fcp-error-neck,.fcp-error-age,.fcp-error-waist{
	display: none;color: red;font-size: 12px;margin: 0px;padding: 0px;width: 100%;
}
#fcp-bfc-intake-form #fcp-water-intake-height,#fcp-water-intake-weight{height: 41px;}
#fcp-bfc-intake-form .fcp-radio-btn label{
    float: left;width: 100%;height: 20px;padding: 1%;
}
#fcp-bfc-intake-form #fcp-bfc-intake-height,#fcp-bfc-intake-weight,#fcp-bfc-intake-age
{
	height: 41px;
}
.bfcResultTable{width: 100%;}
#fcp-bfc-intake-form .fcp-radio-btn label{float: left;width: 100%;height: 20px;padding: 1%;}

#bfcResultTable{margin: 1%;}.hide_result{ display: none;}